@font-face{
    font-family: 'Akzidenz-Grotesk BQ';
    src: local('Akzidenz-Grotesk BQ Bold Condensed'), local('Akzidenz-Grotesk-BQ-Bold-Condensed'),
        url('./fonts_dwnl/AkzidenzGroteskBQ-BdCnd.woff') format('woff2'),
        url('./fonts_dwnl/AkzidenzGroteskBQ-BdCnd.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}