@import './components/fonts';
@import './components/mixins';
@import './components/variables';

@import './blocks/header';
@import './blocks/menu';
@import './blocks/card';
@import './blocks/choose';
@import './blocks/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include akzi;
}



.container {
    max-width: 880px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1370px;
    margin: 0 auto;
}

.overlay {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    background-color: rgba(#000, .8);
    transition: .7s all;
    &_active {
        visibility: visible;
        
        height: 100%;
    }
}